# Secrets & credentials
.ssh/
.env*
.vault_pass
*.ppk
*.secret
inventories/group_vars/all/vault.yml

# Local variables
inventories/group_vars/all/local.yml

# IDE
.idea/
.claudeignore

# Logs
logs/
*.log

# Misc
n8n-recovery-codes.txt