[defaults]
roles_path          = ./roles
collections_path    = ./collections
inventory           = ./inventories/prod.yml
vault_password_file = .vault_pass
stdout_callback       = default
result_format         = yaml
bin_ansible_callbacks = true
forks               = 5

[ssh_connection]
pipelining = true
ssh_args   = -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ControlPersist=60s