[defaults]
roles_path         = ./roles
collections_path   = ./collections
inventory          = ./inventories/prod.ini
vault_password_file = .vault_pass
stdout_callback    = yaml
forks              = 5

[ssh_connection]
pipelining  = true
ssh_args    = -o IdentitiesOnly=yes