services:
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    command:
      - "--config.file=/config/alertmanager.yml"
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/config/alertmanager/alertmanager.yml:ro
      - ./alertmanager/templates:/etc/alertmanager/templates:ro
    restart: unless-stopped
    networks:
      - monitoring_net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    networks:
      - monitoring_net
      - mgmt_net
      - noti_net
      - greentechhub_net

  grafana:
    build: ./grafana
    container_name: grafana
    ports:
      - "3000:3000"
    env_file:
      - ./grafana/.env
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - monitoring_net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    pid: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
    restart: unless-stopped
    networks:
      - monitoring_net

  ntfy:
    image: binwiederhier/ntfy:latest
    container_name: ntfy
    command:
      - serve
    ports:
      - "8085:80"
    volumes:
      - ntfy_cache:/var/cache/ntfy
      - ./ntfy/config:/etc/ntfy
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - monitoring_net
      - noti_net

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "9443:9443"
      - "9000:9000"
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - mgmt_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
    restart: unless-stopped
    networks:
      - monitoring_net

#  ssh_exporter:
#    build: ./ssh_exporter
#    container_name: ssh-exporter
#    ports:
#      - "9312:9312"
#    restart: unless-stopped
#    networks:
#      - monitoring_net

networks:
  monitoring_net:
    name: monitoring_network
    driver: bridge
  mgmt_net:
    name: management_network
    driver: bridge
  noti_net:
    name: notification_network
    driver: bridge
  greentechhub_net:
    external: true
    name: greentechhub_network

volumes:
  grafana_data: {}
  ntfy_cache: {}
  portainer_data: {}
  prometheus_data: {}
  rustdesk_data: {}
