{
    email greentechhub5@gmail.com
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

#==========================================
# Testing
#==========================================
http://green-tech-hub.com {
    respond "Hello, this is the Green Tech Hub!" 200
}
green-tech-hub.com {
    respond "Hello, this is the Green Tech Hub!!" 200
}

#==========================================
# Subdomains
#==========================================
# Subdomains
grafana.green-tech-hub.com {
    reverse_proxy grafana:3000
 }
ntfy.green-tech-hub.com {
    reverse_proxy ntfy:80
}
portainer.green-tech-hub.com {
    reverse_proxy portainer:9000
}
prometheus.green-tech-hub.com {
    reverse_proxy prometheus:9000
}

#test.green-tech-hub.com {
#    respond "Hello from Caddy!" 200
#}
