{
    email greentechhub5@gmail.com
}

#==========================================
# LOCAL ACCESS (with self-signed or internal CA cert)
#==========================================
portainer.local {
    reverse_proxy portainer:9000
}

#==========================================
# PUBLIC ACCESS (auto HTTPS via Let's Encrypt)
#==========================================
ntfy.green-tech-hub.com {
    reverse_proxy ntfy:80
}
portainer.green-tech-hub.com {
    reverse_proxy portainer:9000
}