global:
  resolve_timeout: 5m

route:
  receiver: discord-info
  group_by: [alertname, job]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  routes:
{% for route in alertmanager_routes %}
    - receiver: {{ route.receiver }}
      match:
        severity: {{ route.match.severity }}
      repeat_interval: {{ route.repeat_interval }}
{% endfor %}

receivers:
{% for receiver in alertmanager_receivers %}
  - name: {{ receiver.name }}
    discord_configs:
      - webhook_url: "{{ receiver.discord_webhook_url }}"
        title: |-
          {{ '{{' }} if eq .Status "firing" {{ '}}' }}:red_circle: {{ '{{' }} else {{ '}}' }}:green_circle: {{ '{{' }} end {{ '}}' }} {{ '{{' }} .CommonLabels.alertname {{ '}}' }}
        message: |-
          {{ '{{' }} range .Alerts {{ '}}' }}
          **Severity:** {{ '{{' }} .Labels.severity {{ '}}' }}
          **Summary:** {{ '{{' }} .Annotations.summary {{ '}}' }}
          **Description:** {{ '{{' }} .Annotations.description {{ '}}' }}
          {{ '{{' }} end {{ '}}' }}
{% endfor %}

inhibit_rules:
  - source_match:
      severity: critical
    target_match:
      severity: warning
    equal: [alertname, job]