{{ define "discord.alert_message" }}
{{ range .Alerts }}
⚠️  **Alert Name:** {{ .Labels.alertname }}
ℹ️  **Severity:** {{ .Labels.severity }}
📝  **Description:** {{ .Annotations.description }}
🕒  **Time:** {{ .StartsAt | date "2006-01-02 15:04:05 MST" }}
{{ if .Annotations.details }}📋 **Details:** {{ .Annotations.details }}{{ end }}
---
{{ end }}
{{ end }}

{{ define "discord.alert_title" }}
🔥  [Alertmanager] Alerts
{{ end }}
